.login-vue
  height: 100vh
  width: 100vw
  position: fixed
  top: 0px
  left: 0px
  background-color: #eee
  display: none
  flex-wrap: nowrap
  height: 100%
  width: 100%
  background-size: cover
  background-position: center
  .input-from
    background-color: white
    width: 100%
    max-width: 500px
    min-height: 100%
    max-height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .err
      color: red
    h1
      width: 250px
      padding: 20px 20px
    .input
      padding-bottom: 20px
      width: 250px
      label
        font-weight: 600
      input
        padding: 4px
        box-sizing: border-box
        font-size: 20px
        color: rgb(96, 8, 154)
        border-bottom: 2px solid black
        &:focus
          outline-color: rgb(96, 8, 154)
          outline-offset: -2px
          outline-style: auto
          outline-width: 5px
    .disabled
      opacity: 0.5
      input
        background-color: white
    .submitbtn
      button:focus
        outline-color: rgb(96, 8, 154)
      button:disabled
        opacity: 0.5
    .inf
      position: absolute
      top: 0px
      color: black
      font-weight: 600
      text-decoration: none
      &:hover
        text-decoration: underline
    .loginprocess
      height: 40px
      width: 40px
      margin-top: 10px
      display: flex
      justify-content: center
      align-items: center
      .box
        height: 40px
        width: 40px
        border-radius: 100%
        background-color: #eee
        display: flex
        justify-content: center
        align-items: center
        opacity: 0
        .box-inside
          height: 30px
          width: 30px
          border-radius: 100%
          background-color: #ccc
          opacity: 1
      .show-box
        opacity: 1
        .box-inside
          animation: loadinganimation 2s infinite
          transform: scale(1,1)
          opacity: 1
  .background
    background-color: #eee
    opacity: 1
    height: 100%
    width: 100%
    background-size: cover
    background-position: center
    transition: opacity 0.4s
  .showbg
    opacity: 0.4

@keyframes loadinganimation
  0%
    transform: scale(1,1)
    opacity: 1
  25%
    transform: scale(1.3,1.3)
    opacity: 0
  50%
    transform: scale(1,1)
    opacity: 1
  75%
    transform: scale(1.3,1.3)
    opacity: 0
  100%
    transform: scale(1,1)
    opacity: 1
