// the list of video's
.app-content-videos
  .all
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    flex-direction: row
    .movie-item
      height: 300px
      width: 200px
      overflow: hidden
      box-sizing: border-box
      margin: 10px
      .poster
        height: 200px
        width: 200px
        margin-bottom: 10px
        background-color: #eee
        border-radius: 10px
        overflow: hidden
      .inf
        h3
