
  <div class="notsupportedbrowser" style="display: none;">
    <div class="center">
      <h1>Website doesn't work on your browser</h1>
      <p>try to use a more modern browser chrome, firefox, edge, safari</p>
    </div>
  </div>
  <script src="/js/vue.js"></script>
  <script src="<%= `/--${jsfiles.join(".")}--/basic.js` %>"></script>
  </body>
</html>
