<div class="home-vue">
  <div class="side" v-cloak>
    <div v-for="app in apps" class="clickicon" v-html="app.icon" v-on:click="activeapp = app.name" v-bind:class="{selected: activeapp == app.name}">
      {{ app.icon }}
    </div>
  </div>
  <div class="content" v-cloak>
    <div class="header">
      <div class="item">{{ appname }}</div>
    </div>
    <div class="header2">
      <h1>{{ activeapp.capitalize() }}</h1>
    </div>

    <!-- movies -->
    <div class="app-content app-content-videos" v-if="activeapp == 'movies'">
      <div class="video-popup" v-if="movies.ShowMoreInfo" v-on:click="closeVideoPopup">
        <div class="inside">
          <div class="generalinf">
            <div class="titleimg">
              <div class="poster" v-on:click="openmovie(movies.selected)" v-bind:style="{'background-image': `url(${(movies.selected.belongs.poster) ? movies.selected.belongs.poster : (movies.selected.poster) ? `/movieposter/${movies.selected.id}` : `/movieposter/basic`})`}">
                <svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="otherinf">
            <div class="buttons">
              <p v-if="movies.movieupdating">Saving...</p>
              <svg class="settings-btn" v-on:click="movies.selectedEdit = true" v-if="!movies.selectedEdit && !movies.movieupdating" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              <svg class="settings-btn" v-on:click="saveMovieInfo()" v-if="movies.selectedEdit && !movies.movieupdating" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/>
              </svg>
            </div>
            <div class="info">
              <div class="title">
                <p class="inf">Movie name:</p>
                <p v-if="!movies.selectedEdit" class="b-content">{{ movies.selected.moviename.replace(/\./g,' ') || '---' }}</p>
                <input v-if="movies.selectedEdit" type="text" v-model="movies.selected.moviename">
              </div>
              <div class="belongsto">
                <p class="inf">Belongs to serie</p>
                <p class="b-content" v-if="!movies.selectedEdit">{{ movies.selected.belongs.name || '---' }}</p>
                <input v-if="movies.selectedEdit" type="text" v-model="movies.selected.belongs.name">
              </div>
              <div class="surgestions" v-if="movies.selectedEdit && movies.surgestions.movies.results">
                <h3>Surgestions</h3>
                <div class="item" v-if="id < 3" v-for="(movie, id) in movies.surgestions.movies.results" v-on:click="selectSurgestedMovie('movie',movie)">
                  <div class="previewimg" v-bind:style="{ 'background-image': `url(${movie.poster_path})` }"></div>
                  <div class="extra">
                    <div class="name">{{movie.name}}</div>
                    <div class="overview">{{movie.overview}}</div>
                  </div>
                </div>
                <div class="item" v-if="id < 3" v-for="(serie, id) in movies.surgestions.series.results" v-on:click="selectSurgestedMovie('serie',serie)">
                  <div class="previewimg" v-bind:style="{ 'background-image': `url(http://image.tmdb.org/t/p/w154/${serie.poster_path})` }"></div>
                  <div class="extra">
                    <div class="name">{{serie.name}}</div>
                    <div class="overview">{{serie.overview}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="all">
        <div class="movie-item" v-for="movie in movies.list" v-on:click="openmoreinfo(movie)">
          <div class="poster" v-bind:style="{'background-image': `url(${(movie.belongs.poster) ? movie.belongs.poster : (movie.poster) ? `/movieposter/${movie.id}` : `/movieposter/basic`})`}">

          </div>
          <div class="inf">
            <h3>{{ movie.moviename.replace(/\./g,' ') }}</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- images -->
    <div class="app-content app-content-images" v-if="activeapp == 'images'">
      <div class="recentimgs">
        <h2>RECENT</h2>
      </div>
      <div class="allimgs">
        <h2>ALL IMAGES</h2>
        <div class="imgholderbig">
          <div class="year" v-for="(year, yearname) in images.imagesindexes">
            <div class="month" v-for="(month, monthname) in year">
              <div class="day" v-for="(day, dayname) in month">
                <p class="dayname-title">{{ ReturnDay(yearname, monthname, dayname) }}</p>
                <div class="roww" v-for="row in day.rows">
                  <div v-on:click="openimg(images.images[img.id])" class="img" v-for="img in row" v-bind:style="{'width': ((Math.round(images.baseimgheight * img.aspect) > 700) ? 700 : Math.round(images.baseimgheight * img.aspect)) + 'px'}">
                    <div class="imgholder" v-if="images.images[img.id].show" :style="{'background-image': `url(${images.images[img.id].url})`}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- settings -->
    <div class="app-content" v-if="activeapp == 'settings' && settingsloaded">
      <h2>Server</h2>
      <div class="row">
        <p>Port</p>
        <input type="number" placeholder="port" v-model="settings.server.port">
      </div>
      <div class="row" v-if="settings.server.porterr">
        <p class="err">{{ settings.server.porterr }}</p>
      </div>
      <div class="row">
        <p>Dev</p>
        <div class="switch">
          <p v-bind:class="{active: settings.server.dev == true}" v-on:click="settings.server.dev = true">On</p>
          <p v-bind:class="{active: settings.server.dev == false}" v-on:click="settings.server.dev = false">Off</p>
        </div>
      </div>
      <div class="row">
        <p>Images direcory</p>
        <input type="text" placeholder="direcory" v-model="settings.server.imagedirs">
      </div>
      <div class="row" v-if='settings.server.imagedirserr'>
        <p class="err">{{ settings.server.imagedirserr }}</p>
      </div>
      <div class="row">
        <p>Movie direcory</p>
        <input type="text" placeholder="direcory" v-model="settings.server.moviedirs">
      </div>
      <div class="row" v-if='settings.server.moviedirserr'>
        <p class="err">{{ settings.server.moviedirserr }}</p>
      </div>
      <div class="row">
        <p>Music direcory</p>
        <input type="text" placeholder="direcory" v-model="settings.server.musicdirs">
      </div>
      <div class="row" v-if='settings.server.musicdirserr'>
        <p class="err">{{ settings.server.musicdirserr }}</p>
      </div>
      <div class="users">
        <h3>Users</h3>
        <div class="item" v-for="user of settings.server.users">
          {{ user.username }}
        </div>
      </div>
      <div class="button-holder">
        <button v-bind:disabled="settings.server.updatebtndisabled" type="button" v-on:click="updatesettings()">Update</button>
      </div>
      <h2>Client</h2>
    </div>

  </div>
</div>
