<div class="login-vue">
  <div class="input-from">
    <h1 class="ns">login</h1>
    <div class="input">
      <label class="ns" for="login-username">Username</label>
      <input id="login-username" type="text">
    </div>
    <div class="input">
      <label class="ns" for="login-password">Password</label>
      <input id="login-password" type="password">
    </div>
  </div>
  <div class="background" v-bind:class="{showbg: showbgimg}"></div>
</div>
