<!DOCTYPE html>
<html>
  <head>
    <!-- plex-like-web-app -->
    <meta charset="utf-8">
    <title>Plex-like-web-app</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>[v-cloak] {display: none;}</style>
    <script>
      var log = console.log
      window['LoadedScripts'] = {}
      window['currentpage'] = `<%= page %>`
      if(typeof(Worker) !== 'undefined') {
        window.WebWorker = new Worker('/--crypto-js.pbkdf2.worker--/basic.js')
      } else {
        window.WebWorker = false
      }
    </script>
  </head>
  <body>
