<div class="videoplayer-vue">
  <video id="video"
     width="640"
     poster="//shaka-player-demo.appspot.com/assets/poster.jpg"
     controls autoplay></video>
    </body>
</div>
<script src="/--shaka-player-compiled-debug.videoplayer--/basic.js"></script>
